*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.js-image {
  width: 50vw;
  height: auto;
}

#app {
  opacity: 0.3;
  pointer-events: none;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}
